*.pyc
*o
.idea
__pycache__
out/
in/
source/tmp
source/runs/
*.ipynb_checkpoints/
notebooks/experiments/
notebooks/figures/
notebooks/legacy/
notebooks/
data/in/raw/echo_net/
Augmentation/Echo_data/EchoNet-Dynamic/